*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;
	color:black;
}
.show-more{
	display: flex;
	justify-content: center;
}
.btn{
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
	background: none;
	margin: 25px 0;
	transition: all 0.2s linear;
}
.btn:hover{
	background-color: black !important;
	color:#fff;
}
.category-info{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	padding: 15px 0;
}
.category-info span{
	text-transform: uppercase;
}